<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="4083gbellmann.DolarBlue" Version="1.0.1.0" Publisher="CN=4166C0B8-67A7-403D-81BE-B4769D9C7D0D" />
  <Properties>
    <DisplayName>Dolar Blue</DisplayName>
    <PublisherDisplayName>Guillermo Bellmann</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Dolar Blue" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Consultá la cotización del dólar oficial y paralelo en un solo lugar." ForegroundText="light" BackgroundColor="#246824">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#246824" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>